
<% for i in @feed_items do %>
   <% if i.picture.present? %>
   <!-- This is where the grid will begin displaying pictures -->
    <div class="col-md-3">
       <a href="<%=i.picture%>" class="thumbnail">
       <img class="imgthumbnail" src="<%=i.picture%>">
       </a>
    </div>
   <% end %>
<% end %>