<% j = 0 %>

<% if current_page?(root_path) %>
   <% i = @feed_items %>
<% else %>
   <% i = @user.posts %>
<% end %>


<% i.each do |i| %>
   <% if i.picture.present? %>
   <% j = j + 1 %>
   <!-- This is where the grid will begin displaying pictures -->
   <div class="col-xs-6 col-sm-4 col-md-3">
      <%= link_to image_tag(i.picture, :class => "thumbnail"), i %>
   </div>
   <% end %>
   <!-- To keep the grid looking clean every 4 entries -->
   <% if j == 4 %>
      <div class="clearfix hidden-sm-up"></div>
      <% j = 0 %>
   <% end %>
<% end %> 