<h1 style="color:black;" "font-family:helvetica neue;"><%= current_user.username %></h1>
<span><%= link_to "view profile", current_user %></span>
<span><%= pluralize(current_user.posts.count, "post") %></span>