<% provide(:title, @user.username) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>
<div class="row"
<% j = 0 %>
<% for i in @user.posts do %>
   <% if i.picture.present? %>
   <% j = j + 1 %>
   <!-- This is where the grid will begin displaying pictures -->
   <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="<%=i.picture%>" class="thumbnail">
      <img class="imgthumbnail" src="<%=i.picture%>">
      </a>
   </div>
   <% end %>
   <!-- To keep the grid looking clean every 4 entries -->
   <% if j == 4 %>
      <div class="clearfix hidden-sm-up"></div>
      <% j = 0 %>
   <% end %>
<% end %>
</div>