<% provide(:title, @user.username) %>
<div class="container">
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>

<% for i in @user.posts do %>
   <% if i.picture.present? %>
   <!-- This is where the grid will begin displaying pictures -->
    <div class="col-md-3">
       <a href="<%=i.picture%>" class="thumbnail">
       <img class="imgthumbnail" src="<%=i.picture%>">
       </a>
    </div>
   <% end %>
<% end %>
</div>