<h1>Post id #<%= @post.id %></h1>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @post.link %>
</p>

<p>
  <strong>Post body:</strong>
  <%= @post.body %>
</p>
